.button {
    -fx-font-weight: bold;
}
.root{
    -fx-background-image: url("D:\SourceCode\Soj\studentAssignmentManagement\src\main\resources\images\depositphotos_93534114-stock-photo-composition-with-old-vintage-colorful.jpg");
    -fx-background-size: cover;
}
